<script>
  $(document).ready(function() {
    var $tags       = $('#tags');
    var $tag        = $("#tag");
    var add_tag_url = '<%= (typeof add_tag_url !== 'undefined') ? add_tag_url : '' %>';

    <% if(typeof onAdd !== 'undefined') { %>
    var onAdd = <%- onAdd %>;
    <% } %>

    var addTag = function(name, user_add) {
      if(!name || name.length === 0)
        return;

      // Check tag isn't already added
      var found = false;
      $tags.find('.tag .content').each(function() {
        if($(this).text() === name) {
          found = true;
          return false;
        }
      });

      if(found)
        return;

      $tags.append('<span class="tag">\
        <span class="fa fa-close" title="remove"></span>\
        <span class="content">'+ name +'</span>\
      </span>');

      $tag.val('');

      if(onAdd && user_add)
        onAdd(add_tag_url, name);
    }

    $('.tag .fa-close').click(function() {
      $(this).parent().remove();
    });

    <% if(typeof download_tags !== 'undefined') {
      download_tags.forEach(function(tag) { %>
      addTag('<%= tag.name %>', false);
    <% })} %>

    $tag.autocomplete({
      source: ['<%- tags.map(function(tag) { return tag.name; }).join("','") %>'],
      select: function(event, ui) {
        addTag(ui.item.label || ui.item.value, true);
        $tag.val('');
        return false;
      }
    });

    <% if(typeof allowNewTags !== 'undefined' && allowNewTags) { %>
      $('body').keydown(function(event) {
        if(!$tag.is(":focus") || event.keyCode !== 13)
          return;

        var value = $tag.val();
        if(value.length === 0)
          return false;

        addTag(value, true);
        event.preventDefault();
      });
    <% } %>
  });
</script>
