<div class="container">

<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Erreur 500</h1>

  <p>An erreur occured. Please let the administrator know about this.</p>

</div>
