<h1 class="login-title">Login</h1>
<form method="post" action="<%= routes.login.route %>" class="block login">
  <input type="text" name="pseudo" placeholder="Pseudo" autofocus required />
  <input type="password" placeholder="Password" name="password" required />
  <div class="buttons-wrapper"><input type="submit" value="Enter" /></div>
</form>
